.text-small {
    font-size: 0.9rem !important;
}

body {
    background: #FAC80F;
}

.cursor-pointer {
    cursor: pointer;
}

img {
	width: 20%;
	margin-bottom: 40px;
}

.display-4{
	font-size: 2rem;
	margin-bottom: 20px;
}

@media (max-width: 768px){
  img{
    width: 50%;
	margin-bottom: 40px;
}}
